@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Tektur:wght@400..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: funnel sans;
background-color: #001947;
color: beige;
}
nav{
    text-align: center;
    background-color: #194400;
    padding: 30px;
    margin-bottom: 10px;
 
}

.h1a1{
    text-align: center;
    background-color: #002e83;
    padding: 5px 5px 5px 5px;
    width: 40%;
    margin: auto;
    border-radius: 50px;
    box-shadow: 0px 14px 10px rgb(0, 0, 0);
}
.nav1{
    color: beige;
    background: 15px #002e83;
    padding: 10px;
    margin: 0px 5px 0px 5px;
    border: solid transparent;
    border-radius: 50px;
    text-decoration: none;
}
.nav1:hover{
    background-color: beige;
    color: black;
    box-shadow: 0px 14px 10px rgb(0, 0, 0);
}
.nav2{
    color: beige;
    background: 15px #002e83;
    padding: 10px;
    margin: 0px 5px 0px 5px;
    border: solid transparent;
    border-radius: 50px;
    text-decoration: none;
    
}
.nav2:hover{
    background-color: beige;
    color: black;
    box-shadow: 0px 14px 10px rgb(0, 0, 0);
}
.nav3{
    color: beige;
    background: 15px #002e83;
    padding: 10px;
    margin: 0px 5px 0px 5px;
    border: solid transparent;
    border-radius: 50px;
    text-decoration: none;
}
.nav3:hover{
    background-color: beige;
    color: black;
    box-shadow: 0px 14px 10px rgb(0, 0, 0);
}
.pag1intro{
    text-align: center;
    width: 220px;
    background-color: #002e83;
   margin: auto;
   margin-top: 30px;
   border-radius: 50px;
   font-size: 40px;
}
.a1{
    margin: 0px 10px 15px 10px;
    background-color: #002e83;
    border-radius: 10px;
    display: flex;
    width: 700px;
    justify-self: center;
   

}
.a2{
width: 700px;
}
.a3{
padding: 10px;
}
.eu{
    width: 200px;
}
.escritasb{
    padding: 10px;
    font-size: 30px;
    text-align: left;
}
.pag1oque{
    text-align: center;
    margin: auto;
    width: 500px;
    background-color: #002e83;
    border-radius: 50px;
    font-size: 25px;
}
.escritasoq{
    background-color: #002e83;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
    font-size: 20px;
}
.htmlcss{
    width: 500px;
    margin: 10px;
}
.aa1{
    margin: 0px 10px 15px 10px;
    background-color: #002e83;
    border-radius: 10px;
    display: flex;
    width: 700px;
    justify-self: center;
}
.aa3{
    display: flex;
    justify-content: center;
}
footer{
    background-color: #194400;
    padding: 20px;
    text-align: center;
display: flex;
flex-direction: column;
justify-items: bottom;
width: 100%;
}
.footer1{
    background-color: #001947;
    width: 290px;
    margin:auto;
    display: flex;
    justify-self: center;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
}
.footer2{
    background-color: #001947;
    width: 290px;
    margin: auto;
    display: flex;
    justify-self: center;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
}
.footer3{
    background-color: #001947;
    width: 290px;
    margin: auto;
    display: flex;
    justify-self: center;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
}
.jogos{
    background-color: #002e83;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-self: center;
    text-align: center;
    border-radius: 10px;
}
.escritajogos{
    width: 1200px;
    font-size: 30px;
}
.linkjogos{
    flex-direction: column;
}
.titulojogos{
    font-size: 35px;
}
.filmes{
    background-color: #002e83;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-self: center;
    text-align: center;
    border-radius: 10px;
}
.escritafilmes{
    width: 1200px;
    font-size: 30px;
}
.linkfilmes{
    flex-direction: column;
}
.titulofilmes{
    font-size: 35px;
}
.divhabilidades2{
    background-color: #002e83;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-self: center;
    text-align: center;
    border-radius: 10px;
}
.divhabilidades1{
    background-color: #002e83;
    width: 600;
    text-align: center;
    margin: 15px ;
    border-radius: 20px;
}
.habilidades{
    font-size: 35px;
}
.escritahabilidades{
    width: 1200px;
    font-size: 30px;
}
.footer4{
    background-color: #001947;
    width: 290px;
    margin: auto;
    display: flex;
    justify-self: center;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    color: beige;
    padding: 10px;
    border: solid transparent;
    border-radius: 50px;
    text-decoration: none;
}
.pelevoltar{
    background-color: #194400;
    width: 290px;
    margin: auto;
    display: flex;
    justify-self: center;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    color: beige;
    padding: 10px;
    border: solid transparent;
    border-radius: 50px;
    text-decoration: none;
}
